*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#titulo{
    text-align: center;
}
.linha{
    border: 2px solid blue;
    border-radius: 10px;
    background-color: aqua;
    padding: 1px 4px;
    display: flex;
    justify-content: space-between;
}
#whats{
    width: 18px;
    height: 18px;
}
ul{
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    list-style: none; 
    background-color: aqua;
}
li{

    padding: 2px;
    display: flex;
    border: 9px solid black;
}